In [1]:
import pyupbit

In [2]:
r = pyupbit.get_orderbook('KRW-BTC')  # 호가창 데이터 호출, ['','']<-- 이렇게 여러개도 호출 가능

In [11]:
len(r)

5

In [13]:
r.keys()

dict_keys(['market', 'timestamp', 'total_ask_size', 'total_bid_size', 'orderbook_units'])

In [14]:
r['market']

'KRW-BTC'

In [17]:
r['timestamp'] / 1000 / 60 / 60 /24 /365 # ms 값으로 1970년 이후로 54년이 지난것이다.

54.0173778701484

In [18]:
import pandas as pd

In [19]:
pd.to_datetime(r['timestamp'], unit="ms")

Timestamp('2023-12-25 08:13:48.513000')

In [20]:
import datetime

In [21]:
print(datetime.datetime.now()) # 현재 시간 가져오기

2023-12-25 17:21:07.628047

In [22]:
# 우리 나라 시간으로 변환하기

In [25]:
utcTime = pd.to_datetime(r['timestamp'], unit="ms", utc=True)
utcTime.tz_convert('asia/Seoul')

Timestamp('2023-12-25 17:13:48.513000+0900', tz='Asia/Seoul')

In [26]:
# orderbook_units

In [31]:
# 매도 호가가격 및 수량 가져오기 
for 변수 in r['orderbook_units'][ : : -1] : # 큰 가격부터 가져오기 위해서 거꾸로 출력
    print(변수['ask_price'], 변수['ask_size'])

58117000.0 0.0167
58111000.0 0.10970839
58107000.0 0.001
58104000.0 0.00054771
58103000.0 0.01606836
58102000.0 2.15265162
58101000.0 0.17710416
58100000.0 0.02194444
58099000.0 0.0035097
58098000.0 0.00154947
58096000.0 0.01551585
58093000.0 0.04621869
58092000.0 0.13936386
58091000.0 0.07474222
58074000.0 0.00955543

In [32]:
# 매수 호가가격 및 수량 가져오기 
for 변수 in r['orderbook_units']: 
    print(변수['bid_price'], 변수['bid_size'])

58061000.0 0.16094401
58059000.0 1.00202164
58057000.0 0.04028261
58056000.0 0.25040564
58055000.0 0.00325819
58054000.0 0.00172254
58051000.0 0.08613116
58050000.0 0.56299503
58044000.0 0.05757071
58040000.0 0.31697331
58039000.0 0.12988208
58038000.0 0.11238053
58037000.0 0.10794453
58036000.0 0.24609731
58035000.0 0.35186227